<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/create_account.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.js"></script>
    <script src="//wzrd.in/standalone/blob-util@latest"></script>
  </head>

  <body>
    <% if (err){ %>
      <script>
        toastr.warning(`<%=err%>`);
      </script>
    <% } %>
    <% if (msg){ %>
      <script>
        toastr.success(`<%=msg%>`);
      </script>
    <% } %>
	<div class="title"><h1>Create a class</h1></div>

  <div class="formBox">
    <form action="/create" method="post">
      <input type="hidden" name="userid" value=<%=userid%>>
      <div>
        <b>Classname:</b> <input type="text" name="classname">
      </div>
      <div>
        <b>Video Link:</b> <input type="text" name="vlink">
      </div>
      <!-- <div id="message"></div>
      <div>
        <label for="file">Upload a video:</label>
        <input type="file" id="file">
      </div>
      <div>
        <button type="button" id="upload">Upload</button>
      </div> -->

      <button type="submit">Create</button>
	  </form>
	</div>

    <!-- <script>
    (function ($) {
        $('#upload').on('click', function () {
        var file = $('#file')[0].files[0];
        var fileReader = new FileReader();
        fileReader.onloadend = function (e) {
            var arrayBuffer = e.target.result;
            var fileType = "video/" + file.name.split('.').pop();
            blobUtil.arrayBufferToBlob(arrayBuffer, fileType).then(function (blob) {
                var fd = new FormData();
                fd.append('video', blob);
                $.ajax({
                    type: 'POST',
                    url: "http://localhost:3000/api/upload/" + `<%=userid%>`,
                    data: fd,
                    processData: false,
                    contentType: false
                }).done(function(data) {
                    console.log(data);
                });
                // $.post("http://localhost:3000/api/upload/" + `<%=userid%>`, { video: blob })
                // .done(function(data, status) {
                //     if (status == 200) {
                //         console.log("Good");
                //     }
                //     else {
                //         alert("Failed to upload data");
                //     }
                // });
            }).catch(console.log.bind(console));
        };
        fileReader.readAsDataURL(file);
        });
    })(jQuery);
    </script> -->
  </body>
</html>
